@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-rainbow {
    border-image: linear-gradient(
      to bottom right,
      #b827fc 0%,
      #2c90fc 25%,
      #b8fd33 50%,
      #fec837 75%,
      #fd1892 100%
    );
    border-image-slice: 1;
  }
}

@layer base {
  * {
    @apply transition-all;
  }

  .nav-link:after {
    content: "";
    @apply block;
    @apply transition-all;
    @apply transform;
    @apply scale-x-0;
    @apply border;
    @apply border-b-2;
    @apply border-black;
    @apply dark:border-white;
  }

  .nav-link:hover:after {
    @apply transform;
    @apply scale-100;
  }

  .nav-link:after {
    transform-origin: 0% 50%;
  }

  ::-webkit-scrollbar {
    @apply w-2;
    @apply rounded;
  }

  ::-webkit-scrollbar-track {
    @apply bg-white;
    @apply dark:bg-black;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-yellow-500;
  }
}
