@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-rainbow {
    border-image: linear-gradient(
      to bottom right,
      #b827fc 0%,
      #2c90fc 25%,
      #b8fd33 50%,
      #fec837 75%,
      #fd1892 100%
    );
    border-image-slice: 1;
  }
}

@layer base {
  * {
    @apply transition;
    @apply duration-300;
  }

  .nav-link:after {
    content: "";
    @apply block;
    @apply transition;
    @apply duration-300;
    @apply transform;
    @apply scale-x-0;
    @apply border;
    @apply border-b-2;
    @apply border-black;
    @apply dark:border-white;
  }

  .nav-link:hover:after {
    @apply transform;
    @apply scale-100;
  }

  .nav-link:after {
    transform-origin: 0% 50%;
  }

  .card__image-profile img {
    @apply object-cover;
    @apply w-60;
    @apply h-60;
    @apply md:w-full;
    @apply md:h-60;
  }

  .card__image-project img {
    @apply object-cover;
    @apply h-56;
    @apply sm:h-72;
    @apply md:h-60;
    @apply w-full;
    @apply rounded-tr-xl;
    @apply rounded-tl-xl;
    @apply md:rounded-xl;
  }

  .card__image-project div {
    @apply w-full;
    @apply shadow-none;
    @apply md:shadow;
    @apply rounded-tr-xl;
    @apply rounded-tl-xl;
    @apply md:rounded-xl;
  }

  ::-webkit-scrollbar {
    @apply w-2;
    @apply rounded;
  }

  ::-webkit-scrollbar-track {
    @apply bg-white;
    @apply dark:bg-black;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-black;
    @apply dark:bg-white;
  }
}
